.App {
  text-align: center;
}

.activation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.activation-page h1 {
  font-size: 24px;
  color: #333;
}
